<%= form_for [:admin, @food] do |f| %>
  <fieldset>
    <div class="form-group">
    <%= f.label :name, "Nama Makanan",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :food_recipes, "Bahan",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= f.fields_for :food_recipes do |builder| %>   
              <%= render 'food_recipe_fields', f: builder %>   
            <% end %>
              <%= link_to_add_ingredients "Tambah Bahan", f, :food_recipes %>   
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-10">
        <%= f.submit "Simpan", :class=>"btn btn-primary", class:"btn btn-fill btn-primary" %>
      </div>
  </fieldset>
<% end %>
