<%= form_for(employee,class:'form-horizontal') do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group">
      <%= f.label :name, "Nama",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name,class:'form-control' %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <%= f.label :role, "Hak Akses",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.radio_button(:role, "Kitchen")%>
        <%= f.label(:role, "Kitchen") %> 
        <%= f.radio_button(:role, "Quality Control") %>
        <%= f.label(:role, "Quality Control") %>
        <%= f.radio_button(:role, "logistik") %>
        <%= f.label(:role, "logistik") %>
        <%= f.radio_button(:role, "Administrasi") %>
        <%= f.label(:role, "Administrasi") %>
        <%= f.radio_button(:role, "Operational") %>
        <%= f.label(:role, "Operational") %>
        <%= f.radio_button(:role, "Administrator") %>
        <%= f.label(:role, "Administrator") %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :age, "Usia",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :age,class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :birth_place, "Tempat Lahir",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :birth_place %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :birth_date, "Tanggal Lahir",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_select(:birth_date, {:order => [:day, :month, :year] ,:start_year => 1970, :end_year => 2013},{:class=>"form-control",:style=>"width:32%;display:inline-block"})%>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :gender_id, "Gender",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:gender_id,Gender.all,:id,:name,{:prompt => "Pilih gender"},class:'form-control') %>
      </div>
    </div>
  </fieldset>

  <div class="field">
    <%= f.label :religion_id, "Agama" %>
    <%= f.collection_select(:religion_id,Religion.all,:id,:name,{:prompt => ""}) %>
  </div>

  <div class="field">
    <%= f.label :position_id, "Posisi" %>
    <%= f.collection_select(:position_id,Position.all,:id,:name,{:prompt => ""}) %>
  </div>

  <div class="field">
    <%= f.label :education_id, "Pendidikan" %>
    <%= f.collection_select(:education_id,Education.all,:id,:name,{:prompt => ""}) %>
  </div>

  <div class="field">
    <%= f.label :experience %>
    <%= f.text_field :experience %>
  </div>

  <div class="field">
    <%= f.label :skill %>
    <%= f.text_field :skill %>
  </div>

  <div class="actions">
    <%= f.submit "Simpan" ,class:"btn btn-fill btn-primary"%>
  </div>
<% end %>

