<%= sidemenu admin_administrasi_dash_path, "Dashboard", "pe-7s-graph" %>
    <%# Profile Pegawai %>
    <li class="<%= active_class admin_user_profile_path(current_user) %>">
        <a href="<%= admin_user_profile_path(current_user) %>">
            <i class="pe-7s-user"></i>
            <p>User Profile</p>
        </a>
    </li>
    <li class="<%= active_class admin_purchase_requests_path %>" >
        <a href="<%= admin_purchase_requests_path %>">
            <i class="pe-7s-note2"></i>
            <p>Purchase Request</p>
        </a>
    </li>
    <li class="<%= active_class admin_purchase_orders_path %>">
        <a href="<%= admin_purchase_orders_path %>">
            <i class="pe-7s-ticket"></i>
            <p>Purchase Order</p>
        </a>
    </li>
    <li class="active_class admin_fund_administrations_path">
        <a href="<%= admin_fund_administrations_path%>">
            <i class="pe-7s-note"></i>
            <p>Pencatatan Dana</p>
        </a>
    </li>
    <li class="<%= active_class admin_suppliers_path %>">
        <a href="<%= admin_suppliers_path%>">
            <i class="pe-7s-culture"></i>
            <p>Supplier</p>
        </a>
    </li>
    <%# Data Standard Recipe %>
    <li class="active_class admin_standard_recipes_path">
        <a href="<%= admin_standard_recipes_path%>">
            <i class="pe-7s-coffee"></i>
            <p>Standard Recipe</p>
        </a>
    </li>
    <li class="<%= active_class '#' %>">
        <a href="#">
            <i class="pe-7s-box2"></i>
            <p>Pemakaian Barang</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-box1"></i>
            <p>Inventory</p>
        </a>
    </li>