<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="header">
            <h4 class="title">
              <%= link_to 'Kembali', admin_food_menus_path, :class=>"btn btn-warning btn-fill pull-right" %>
            </h4>
          </div>
      <h2>Menu <%= @food_menu.name%></h2>
      <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
               <tr>
                <th>Makanan</th>
                <th>Jumlah</th>
                <th>Berat</th>
                <th></th>
               </tr>  
              </thead>  
              <tbody>  
               <% @food_menu.food_menu_details.each do |fmd| %>  
                <tr> 
                 <td><%= fmd.food.name %></td>
                 <td><%= fmd.food_qty %></td>
                 <td><%= fmd.weight %> kg</td>
                 <td><%= link_to 'Detail', admin_food_path(fmd.food) %></td>
                </tr>  
               <% end %>  
              </tbody>  
             </table>  
             </div>

              <fieldset>
                    <%= link_to 'Edit', edit_admin_food_menu_path(@food_menu), class:"btn btn-fill btn-primary" %>
              </fieldset>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>