<%= form_for [:admin, @standard_recipe] do |f| %>
<fieldset>
  <div class="form-group">
    <%= f.label :cycle_id,class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:cycle_id,Cycle.all,:id,:name,{:prompt => "Pilih Cycle"},class:'form-control') %>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="form-group">
    <%= f.label :flight_type_id,class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:flight_type_id, FlightType.all, :id, :fullname, {prompt: "Pilih Item"}, {class: "form-control"}) %>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="form-group">
    <%= f.label :name,class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class:'form-control' %>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="form-group">
    <%= f.label :pax_qty,class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :pax_qty, class:'form-control' %>
    </div>
  </div>
</fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :standard_recipe_details, "Bahan",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= f.fields_for :standard_recipe_details do |builder| %>   
              <%= render 'standard_recipe_detail_fields', f: builder %>   
            <% end %>
              <%= link_to_add_items "Tambah Item", f, :standard_recipe_details %>   
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-10">
        <%= f.submit "Simpan", :class=>"btn btn-primary", class:"btn btn-fill btn-primary" %>
      </div>
  </fieldset>
<% end %>
