<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Master Standard Recipe
                <%= link_to "<i class='glyphicon glyphicon-plus'> </i> Tambah Standard Recipe".html_safe, new_admin_standard_recipe_path, :class=>"btn btn-warning btn-fill pull-right" %>
                  
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Nama Standard Recipe</th>
                    <th>Cycle</th>
                    <th>Penerbangan</th>
                    <th>Jumlah Pax</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @standard_recipes.each do |standard_recipe| %>
                    <tr>
                      <td><%= standard_recipe.name %></td>
                      <td><%= standard_recipe.try(:cycle).try(:name) %></td>
                      <td><%= "#{standard_recipe.try(:flight_type).try(:flight_class).try(:name)} - #{standard_recipe.try(:flight_type).try(:name)}" %></td>
                      <td><%= standard_recipe.pax_qty %> PAX</td>
                      <td>
                        <%= link_to admin_standard_recipe_path(standard_recipe), class:'btn btn-xs btn-success' do %>
                          <span class='glyphicon glyphicon-list-alt'></span>
                        <% end %>
                        <%= link_to edit_admin_standard_recipe_path(standard_recipe),class:'btn btn-xs btn-primary' do %>
                          <span class='glyphicon glyphicon-edit'></span>
                        <% end %>
                        <%= link_to admin_standard_recipe_path(standard_recipe), method: :delete, class:'btn btn-xs btn-danger', data: { confirm: 'Yakin hapus data?' } do %>
                          <span class='glyphicon glyphicon-trash'></span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>