<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Master Standard Recipe
                <%= link_to 'Tambah Standard Recipe', new_admin_standard_recipe_path, :class=>"btn btn-warning btn-fill pull-right" %>
                  
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Nama Standard Recipe</th>
                    <th>Cycle</th>
                    <th>Penerbangan</th>
                    <th>Jumlah Pax</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @standard_recipes.each do |standard_recipe| %>
                    <tr>
                      <td><%= standard_recipe.name %></td>
                      <td><%= standard_recipe.try(:cycle).try(:name) %></td>
                      <td><%= "#{standard_recipe.try(:flight_type).try(:flight_class).try(:name)} - #{standard_recipe.try(:flight_type).try(:name)}" %></td>
                      <td><%= standard_recipe.pax_qty %> PAX</td>
                      <td><%= link_to 'Detail', admin_standard_recipe_path(standard_recipe,class:'text-info') %></td>
                      <td><%= link_to 'Edit', edit_admin_standard_recipe_path(standard_recipe),class:'text-info' %></td>
                      <td><%= link_to 'Hapus', admin_standard_recipe_path(standard_recipe), method: :delete, class:'text-danger', data: { confirm: 'Yakin hapus data?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>