<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="header">
            <h4 class="title">
              <%= link_to 'Kembali', admin_standard_recipes_path, :class=>"btn btn-warning btn-fill pull-right" %>
            </h4>
          </div>
			<h2>Standard Recipe <%= @standard_recipe.name%></h2>
			<div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>  
               <tr>     
                <th>No.</th>             
                <th>Item</th>
               </tr>  
              </thead>  
              <tbody>  
               <% @standard_recipe.standard_recipe_details.each_with_index do |sr,index| %>  
                <tr>
                  <td><%= index + 1%></td>
                 <td><%= sr.item.name %></td>
                </tr>  
               <% end %>  
              </tbody>  
             </table>  
             </div>

              <fieldset>
              <% if !current_user_kitchen %>
                    <%= link_to 'Edit', edit_admin_standard_recipe_path(@standard_recipe), class:"btn btn-fill btn-primary" %>
                    <% end %>
              </fieldset>
            </div>
          </div>

        </div>
		</div>
	</div>
</div>