<p id="notice"><%= notice %></p>

<p>
  <strong>Cycle:</strong>
  <%= @standard_recipe.cycle %>
</p>

<p>
  <strong>Flight type:</strong>
  <%= @standard_recipe.flight_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @standard_recipe.name %>
</p>

<p>
  <strong>Pax qty:</strong>
  <%= @standard_recipe.pax_qty %>
</p>

<%= link_to 'Edit', edit_standard_recipe_path(@standard_recipe) %> |
<%= link_to 'Back', standard_recipes_path %>
