<%= form_for [:admin, @employee] do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :user_id, "User",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <p><%= current_user.email %></p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :name, "Nama",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name,class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
  <div class="horizontal">
    <div class="form-group">
      <%= f.label :role, "Hak Akses",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="col-md-3">
          <%= f.radio_button(:role, "kitchen")%>
          <%= f.label(:role, "Kitchen") %> <br />
          <%= f.radio_button(:role, "quality_control") %>
          <%= f.label(:role, "Quality Control") %>
        </div>
        <div class="col-md-3">
        <%= f.radio_button(:role, "logistik") %>
        <%= f.label(:role, "logistik") %> <br />
        <%= f.radio_button(:role, "administrasi") %>
        <%= f.label(:role, "Administrasi") %>
        </div>
        <div class="col-md-3">
        <%= f.radio_button(:role, "operational") %>
        <%= f.label(:role, "Operational") %> <br />
        <%= f.radio_button(:role, "administrator") %>
        <%= f.label(:role, "Administrator") %>
        </div>
      </div>
    </div>
  </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :age, "Usia",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :age,class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :birth_place, "Tempat Tanggal Lahir",class:"col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.text_field :birth_place,class:'form-control',placeholder:"Tempat lahir" %>
      </div>
      <div class="col-sm-7">
        <%= f.text_field :birth_date,'data-value'=>@employee.birth_date,'data-behaviour' => 'pickadate',class:'form-control', paceholder: 'Pick a date' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :gender_id, "Gender",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:gender_id,Gender.all,:id,:name,{:prompt => "Pilih gender"},class:'form-control') %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="field">
      <%= f.label :religion_id, "Agama",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:religion_id,Religion.all,:id,:name,{:prompt => "Pilih agama"},class:'form-control') %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="field">
      <%= f.label :position_id, "Posisi",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:position_id,Position.all,:id,:name,{:prompt => "Pilih posisi"},class:'form-control') %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="field">
      <%= f.label :education_id, "Pendidikan",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:education_id,Education.all,:id,:name,{:prompt => "Pilih pendidikan"},class:'form-control') %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="field">
      <%= f.label :experience, class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :experience,class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="field">
      <%= f.label :skill, class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :skill,class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-10">
        <%= f.submit "Simpan", :class=>"btn btn-primary", class:"btn btn-fill btn-primary" %>
      </div>
  </fieldset>
<% end %>

