<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Purchase Order
                <%= link_to 'Tambah PO', admin_purchase_requests_path, :class=>"btn btn-warning btn-fill pull-right" if !current_user_quality_control %>
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>No. PR</th>
                    <th>Alamat Purchase order</th>
                    <th>No. PO</th>
                    <th>Estimasi kedatangan</th>
                    <th>Status</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @purchase_orders.each do |purchase_order| %>
                    <tr>
                      <td>#<%= purchase_order.purchase_request.pr_number %></td>
                      <td><%= purchase_order.purchase_order_address.try(:name) %></td>
                      <td><%= purchase_order.po_number %></td>
                      <td><%= purchase_order.arrival_estimated.strftime('%d %B %Y %H:%M %p') %></td>
                      <td><%= cekproses(purchase_order.status) %></td>
                      <td><%= link_to 'Detail', admin_purchase_order_path(purchase_order) %></td>
                      <% if !current_user_quality_control %>
                      <td><%= link_to 'Edit', edit_admin_purchase_order_path(purchase_order) %></td>
                      <td><%= link_to 'Hapus', admin_purchase_order_path(purchase_order), method: :delete, data: { confirm: 'Yakin hapus data?' } %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>