<p id="notice"><%= notice %></p>

<h1>Item Units</h1>

<table>
  <thead>
    <tr>
      <th>Satuan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_units.each do |item_unit| %>
      <tr>
        <td><%= item_unit.name %></td>
        <td><%= link_to 'Edit', edit_item_unit_path(item_unit) %></td>
        <td><%= link_to 'Hapus', item_unit, method: :delete, data: { confirm: 'Yakin hapus data?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Unit', new_item_unit_path %>
