<%= form_for [:admin, @purchase_request] do |f| %>

  <fieldset>
    <div class="form-group">
      <%= f.label :date_required, 'Tanggal Diperlukan',class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :date_required,'data-value'=>@purchase_request.date_required,'data-behaviour' => 'pickadate',class:'form-control', paceholder: 'Pick a date' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :request_reason, 'Alasan pengajuan',class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :request_reason, class:'form-control', placeholder: 'Alasan pengajuan' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
  <%= f.label "test", "Item",class:"col-sm-2 control-label" %>
  <div class="col-sm-10">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Standard Recipe
              </div>
            </div>
            <div class="panel-body">
              <%= f.fields_for :foods do |builder| %>   
                <%= render 'standard_recipe_fields', f: builder %>   
              <% end %>
              <%= link_to_add_fields "Tambah Standard Recipe", f, :foods %>  
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Item
              </div>
            </div>
            <div class="panel-body">
              <%= f.fields_for :purchase_request_details do |builder| %>   
                <%= render 'purchase_request_detail_fields', f: builder %>   
              <% end %>
              <%= link_to_add_fields "Tambah Item", f, :purchase_request_details %>   
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :status_desc, 'Keterangan',class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :status_desc, class: 'form-control', placeholder: 'Keterangan' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-10">
        <%= f.submit "Simpan", :class=>"btn btn-primary", class:"btn btn-fill btn-primary" %>
      </div>
  </fieldset>
<% end %>

