<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Master Purchase Request
                <%= link_to 'Tambah Data', new_admin_purchase_request_path, :class=>"btn btn-warning btn-fill pull-right" %>
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th>No.</th>
                    <th>Diminta Oleh</th>
                    <th>No.PR</th>
                    <th>Tanggal Dibuat</th>
                    <th>Tanggal Diperlukan</th>
                    <th>Total harga</th>
                    <th>Status</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @purchase_requests.each_with_index do |purchase_request,index| %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= purchase_request.try(:employee).try(:name) %></td>
                      <td><%= purchase_request.pr_number %></td>
                      <td><%= purchase_request.date_created.strftime('%d %B %Y') %></td>
                      <td><%= purchase_request.date_required.strftime('%d %B %Y') %></td>
                      <td><%= ke_rp(purchase_request.total)%></td>
                      <td><%= cekproses(purchase_request.status) %></td>
                      <td><%= link_to 'Detail', admin_purchase_request_path(purchase_request),class:'text-info' %></td>
                      <td><%= link_to 'Edit', edit_admin_purchase_request_path(purchase_request),class:'text-info' %></td>
                      <td><%= link_to 'Hapus', admin_purchase_request_path(purchase_request),class:'text-danger', method: :delete, data: { confirm: 'Yakin hapus data?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>