<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Purchase Request
                <%= link_to "<i class='glyphicon glyphicon-plus'></i> Tambah Data".html_safe, new_admin_purchase_request_path, :class=>"btn btn-warning btn-fill pull-right" if !current_user_quality_control & !current_user_logistik & !current_user_administrasi %>
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th>No.</th>
                    <th>Diminta Oleh</th>
                    <th>No.PR</th>
                    <th>Tanggal Dibuat</th>
                    <th>Tanggal Diperlukan</th>
                    <th>Total harga</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <% @purchase_requests.each_with_index do |purchase_request,index| %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= purchase_request.try(:employee).try(:name) %></td>
                      <td><code><%= link_to purchase_request.pr_number, admin_purchase_request_path(purchase_request) %></code></td>
                      <td><%= purchase_request.date_created.strftime('%d %B %Y') %></td>
                      <td><%= purchase_request.date_required.strftime('%d %B %Y') %></td>
                      <td><%= ke_rp(purchase_request.total)%></td>
                      <td><%= cekproses(purchase_request.status) %></td>
                      <td>
                        <%= link_to admin_purchase_request_path(purchase_request), class:'btn btn-xs btn-success' do %>
                          <span class='glyphicon glyphicon-list-alt'></span>
                        <% end %>

                        <% if !current_user_logistik and purchase_request.status != true and purchase_request.status != false %>
                          <%= link_to edit_admin_purchase_request_path(purchase_request), class:'btn btn-xs btn-primary' do %>
                            <span class='glyphicon glyphicon-edit'></span>
                          <% end %>

                          <%= link_to admin_purchase_request_path(purchase_request), class:'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Yakin hapus data?' } do %>
                            <span class='glyphicon glyphicon-trash'></span>
                          <% end %>
                        <% end %>
                      
                      <% if !current_user_logistik and purchase_request.status != nil%>
                        <%= link_to edit_admin_purchase_request_path(purchase_request), class:'btn btn-xs btn-default' do %>
                            PO <span class='glyphicon glyphicon-arrow-right'></span>
                          <% end %>
                      <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>