<div class="row">
  <div class="panel panel-default nobreakinside">
    <div class="panel-body">
      <div class="col-sm-4">
              Diminta oleh : <strong><%= @purchase_request.employee.name %></strong><br>
              Posisi : <strong><%= @purchase_request.employee.position.name %></strong><br>
              Departemen : <strong><%= @purchase_request.employee.position.department.name %></strong><br>
              Manajer Departemen : <strong><%= @purchase_request.employee.position.department.manager %></strong>
            </div>
            <div class="col-sm-4">
              No. PR : <strong><%= @purchase_request.pr_number %></strong><br>
              Tanggal : <code><strong><%= @purchase_request.date_created.strftime('%d %B %Y') %></strong></code><br>
              Status : <%= cekproses(@purchase_request.status) %>
            </div>
            <div class="col-sm-4">
             <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i> Kembali".html_safe, admin_purchase_requests_path, :class=>"btn btn-warning btn-fill pull-right" %>
            </div>
    </div>
  </div>

<% if @purchase_request.status_desc.present? && @purchase_request.status != true %>
  <div class="panel panel-danger">
  <div class="panel-heading">
    Keterangan:
  </div>
    <div class="panel-body">
        <%= @purchase_request.status_desc%>
    </div>
  </div>
<% end %>

  <div class="panel panel-default">
    <div class="panel-body">   
    <%= link_to 'Print', '#', class:"btn btn-xs btn-warning pull-right" if @purchase_request.status == true | current_user_kitchen | current_user_administrasi | current_user_quality_control%>    
    <h3>List Barang</h3>
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>  
           <tr>  
            <th>Supplier</th>
            <th>Barang</th>
            <th>Kategori</th>
            <th>price</th>  
            <th>quantity</th>  
            <th class="currency">total</th>
           </tr>  
          </thead>  
          <tbody>
           <% @purchase_request.purchase_request_details.each do |prd| %>  
            <tr> 
             <td><%= prd.item.supplier.name %></td> 
             <td><%= prd.item.name %></td>
             <td><%= prd.item.item_category.name %></td>
             <td><%= ke_rp(prd.item.price) %></td>
             <td><%= prd.qty %> <%= prd.item.item_unit.name %></td>
             <td class="currency"><%= ke_rp(prd.sub_total) %></td>
            </tr>  
           <% end %>  
           <tr>
             <td colspan="5" class="currency"><strong>TOTAL</strong></td>
             <td class="currency"><%= ke_rp(@purchase_request.total)%></td>
           </tr>
          </tbody>  
         </table>  
      </div> 
       <br><br>
      <%= link_to "<i class='glyphicon glyphicon-edit'></i> Edit".html_safe, edit_admin_purchase_request_path(@purchase_request), class:"btn btn-fill btn-primary" %>

      <div class="panel pull-right">
      <% if current_user_quality_control %>
        <% if @purchase_request.status != true %>
          <%= link_to 'Rekomendasikan',
              admin_rekomendasikan_pr_path(@purchase_request),
              method: "patch",data:{
              confirm: "Rekomendasikan PR #{@purchase_request.pr_number} ?"}, class: 'btn btn-fill btn-success' %>

          <%= link_to 'Tidak Direkomendasikan',
              admin_tolak_pr_path(@purchase_request),
              method: "patch",data:{
              confirm: "Tolak PR #{@purchase_request.pr_number} ?"}, class: 'btn btn-fill btn-danger' %>
        <% end %>
      <% end %>
        <% if @purchase_request.status == true %>
          <% if current_user_administrasi || current_user_logistik %>
          <%= link_to 'Terbitkan PO',
              new_admin_purchase_request_purchase_order_path(@purchase_request),
              method: "get",data:{
              confirm: "Terbitkan PO ##{@purchase_request.pr_number} ?"}, class: 'btn btn-fill btn-primary' %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

</div>