<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="header">
            <h4 class="title">
              <%= link_to 'Kembali', admin_purchase_requests_path, :class=>"btn btn-warning btn-fill pull-right" %>
            </h4>
          </div>
           <p>  
            <strong>Diminta oleh:</strong>  
            <%= @purchase_request.employee.name %>
            <strong>Posisi:</strong>  
            <%= @purchase_request.employee.position.name %>  
           </p>
             
           <h1>List Barang</h1>  
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>  
               <tr>  
                <th>Supplier</th>
                <th>Barang</th>
                <th>Kategori</th>
                <th>price</th>  
                <th>quantity</th>  
                <th>total</th>  
                <th></th>  
               </tr>  
              </thead>  
              <tbody>  
               <% @purchase_request.purchase_request_details.each do |prd| %>  
                <tr> 
                 <td><%= prd.item.supplier.name %></td> 
                 <td><%= prd.item.name %></td>
                 <td><%= prd.item.item_category.name %></td>
                 <td><%= prd.item.price_rp %></td>
                 <td><%= prd.qty %> <%= prd.item.item_unit.name %></td>
                 <td><%= prd.total_rp %></td>
                </tr>  
               <% end %>  
              </tbody>  
             </table>  
             </div>
             <hr>  
              <p> Total </p>  
              <%= @purchase_request.total_rp%>  
             <hr>  
              <fieldset>
                    <%= link_to 'Edit', edit_admin_purchase_request_path(@purchase_request), class:"btn btn-fill btn-primary" %>
              </fieldset>
            </div>
          </div>

        </div>