<div class="row">
  <div class="panel panel-default nobreakinside">
    <div class="panel-body">
      <div class="col-sm-4">
              Diminta oleh : <strong><%= @purchase_request.employee.name %></strong><br>
              Posisi : <strong><%= @purchase_request.employee.position.name %></strong><br>
              Departemen : <strong><%= @purchase_request.employee.position.department.name %></strong><br>
              Manajer Departemen : <strong><%= @purchase_request.employee.position.department.manager %></strong>
            </div>
            <div class="col-sm-4">
              No. PR : <strong><%= @purchase_request.pr_number %></strong><br>
              Tanggal : <code><strong><%= @purchase_request.date_created.strftime('%d %B %Y') %></strong></code><br>
              Status : <%= cekproses(@purchase_request.status) %>
            </div>
            <div class="col-sm-4">
             <%= link_to 'Kembali', admin_purchase_requests_path, :class=>"btn btn-warning btn-fill pull-right" %>
            </div>
    </div>
  </div>

<% if @purchase_request.status_desc.present?%>
  <div class="panel panel-danger">
  <div class="panel-heading">
    Keterangan:
  </div>
    <div class="panel-body">
        <%= @purchase_request.status_desc%>
    </div>
  </div>
<% end %>

  <div class="panel panel-default">
    <div class="panel-body">       
    <h3>List Barang</h3>  
      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>  
           <tr>  
            <th>Supplier</th>
            <th>Barang</th>
            <th>Kategori</th>
            <th>price</th>  
            <th>quantity</th>  
            <th class="currency">total</th>
           </tr>  
          </thead>  
          <tbody>  
           <% @purchase_request.purchase_request_details.each do |prd| %>  
            <tr> 
             <td><%= prd.item.supplier.name %></td> 
             <td><%= prd.item.name %></td>
             <td><%= prd.item.item_category.name %></td>
             <td><%= prd.item.price_rp %></td>
             <td><%= prd.qty %> <%= prd.item.item_unit.name %></td>
             <td class="currency"><%= prd.total_rp %></td>
            </tr>  
           <% end %>  
           <tr>
             <td colspan="5" class="currency"><strong>TOTAL</strong></td>
             <td class="currency"><%= @purchase_request.total_rp%></td>
           </tr>
          </tbody>  
         </table>  
      </div> 
       <br><br>
      <%= link_to 'Edit', edit_admin_purchase_request_path(@purchase_request), class:"btn btn-fill btn-primary" %>
      <div class="panel pull-right">
        <%= link_to 'Rekomendasikan',
            admin_rekomendasikan_pr_path(@purchase_request),
            method: "patch",data:{
            confirm: "Rekomendasikan PR #{@purchase_request.pr_number} ?"}, class: 'btn btn-fill btn-success' %>

        <%= link_to 'Tidak Direkomendasikan',
            admin_tolak_pr_path(@purchase_request),
            method: "patch",data:{
            confirm: "Tolak PR #{@purchase_request.pr_number} ?"}, class: 'btn btn-fill btn-danger' %>
        <% if @purchase_request.status == true %>
        <%= link_to 'Terbitkan PO',
            new_admin_purchase_request_purchase_order_path(@purchase_request),
            method: "get",data:{
            confirm: "Terbitkan PO ##{@purchase_request.pr_number} ?"}, class: 'btn btn-fill btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

</div>