<%= form_for [:admin, @po, @fund_administration] do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :purchase_order_id, "PO",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <% if @po.present? %>
          #<%= @po.po_number %>
          <% else %>
          #<%= @fund_administration.purchase_order.po_number %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-10">
        <%= f.submit "Simpan", class:"btn btn-fill btn-primary" %>
      </div>
  </fieldset>
<% end %>
