<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Master Pencatatan Dana PO
                <%= link_to 'Tambah Pendidikan', new_admin_fund_administration_path, :class=>"btn btn-warning btn-fill pull-right" %>
                  
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Purchase order</th>
                    <th>Ammount</th>
                    <th>Tanggal Keluar</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @fund_administrations.each do |fund_administration| %>
                    <tr>
                      <td><%= fund_administration.purchase_order %></td>
                      <td><%= fund_administration.ammount %></td>
                      <td><%= fund_administration.date_out %></td>
                      <td><%= link_to 'Show', fund_administration %></td>
                      <td><%= link_to 'Edit', edit_fund_administration_path(fund_administration) %></td>
                      <td><%= link_to 'Destroy', fund_administration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>