    <div class="sidebar" data-color="grey">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                  Salma Zein
                </a>
            </div>
            <ul class="nav">
            <%= render 'shared/sidebar/admin_sidebar' if current_user_admin %>
            <%= render 'shared/sidebar/administrator_sidebar' if current_user_administrator %>
            <%= render 'shared/sidebar/kitchen_sidebar' if current_user_kitchen %>
            <%= render 'shared/sidebar/quality_control_sidebar' if current_user_quality_control %>
            <%= render 'shared/sidebar/logistik_sidebar' if current_user_logistik %>
            <%= render 'shared/sidebar/administrasi_sidebar' if current_user_administrasi %>
            <%= render 'shared/sidebar/operational_sidebar' if current_user_operational %>
            </ul>
      </div>
    </div>