    <div class="sidebar" data-color="orange">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                  Salma Zein
                </a>
            </div>

            <ul class="nav">
                <%= sidemenu root_path, "Dashboard", "pe-7s-graph" %>
                <li>
                  <a data-toggle="collapse" href="#formsExamples" class="collapsed" aria-expanded="false">
                    <i class="pe-7s-tools"></i>
                    <p>Master
                       <b class="caret"></b>
                    </p>
                  </a>
                  <div class="collapse" id="formsExamples" aria-expanded="false" style="height: auto;">
                    <ul class="nav subnav">
                        <li class="<%= active_class employees_path %>">
                            <%= link_to "Pegawai", employees_path %>
                        </li>
                        <li class="<%= active_class items_path %>">
                            <%= link_to 'Barang', items_path %>
                        </li>
                        <li class="<%= active_class item_categories_path %>">
                            <%= link_to 'Kategori Barang', item_categories_path %>
                        </li>
                        <li class="<%= active_class item_units_path %>">
                            <%= link_to 'Satuan Barang', item_units_path %>
                        </li>
                        <li><%= link_to 'User', users_path %></li>
                        <li><%= link_to 'Petugas', employees_path %></li>
                        <li><%= link_to 'Agama', religions_path %></li>
                        <li><%= link_to 'Gender', genders_path %></li>
                        <li><%= link_to 'Pendidikan', educations_path %></li>
                        <li><%= link_to 'Posisi / Jabatan', positions_path %></li>
                        <li><%= link_to 'Station', stations_path %></li>
                        <li><%= link_to 'Departemen', departments_path %></li>
                        <li><%= link_to 'Supplier', suppliers_path %></li>
                        <li><a href="forms/regular.html">Penyimpanan</a></li>
                        <li><a href="#">Pesawat</a></li>
                        <li><a href="#">Kwitansi</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="forms/regular.html">User</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#purchaseRequest" class="collapsed" aria-expanded="false">
                        <i class="pe-7s-note2"></i>
                        <p>Purchase Request <b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="purchaseRequest" aria-expanded="false" style="height: auto;">
                        <ul class="nav subnav">
                            <li><a href="forms/regular.html">Add Request</a></li>
                            <li><a href="forms/regular.html">Satuan</a></li>
                        
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-ticket"></i>
                        <p>Purchase Order</p>
                    </a>
                </li>
                <li>
                  <a data-toggle="collapse" href="#qualityControl" class="collapsed" aria-expanded="false">
                    <i class="pe-7s-news-paper"></i>
                    <p>Quality Control
                       <b class="caret"></b>
                    </p>
                  </a>
                  <div class="collapse" id="qualityControl" aria-expanded="false" style="height: auto;">
                    <ul class="nav subnav">
                        <li><a href="forms/regular.html">Kategori</a></li>
                        <li><a href="forms/regular.html">Satuan</a></li>
                        <li><a href="forms/regular.html">Penyimpanan</a></li>
                        <li><a href="#">Pesawat</a></li>
                        <li><a href="#">Kwitansi</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="forms/regular.html">User</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-box2"></i>
                        <p>Inventory</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-folder"></i>
                        <p>Report</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>