    <div class="sidebar" data-color="orange">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                  Salma Zein
                </a>
            </div>
            <ul class="nav">
            <%#= render 'shared/sidebar/admin_sidebar' if current_user_administrator %>
            <%= "administrator" if current_user_administrator %>
            <%= "kitchen" if current_user_kitchen %>
            <%= "qr" if current_user_quality_control %>
            <%= "logistik" if current_user_logistik %>
            <%= "administrasi" if current_user_administrasi %>
            <%= "operational" if current_user_operational %>
            </ul>
      </div>
    </div>