    <div class="sidebar" data-color="orange">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                  Salma Zein
                </a>
            </div>

            <ul class="nav">
                <%= sidemenu root_path, "Dashboard", "pe-7s-graph" %>
                <li>
                  <a data-toggle="collapse" href="#formsExamples" class="collapsed" aria-expanded="false">
                    <i class="pe-7s-server"></i>
                    <p>Master
                       <b class="caret"></b>
                    </p>
                  </a>
                  <div class="collapse" id="formsExamples" aria-expanded="false" style="height: auto;">
                    <ul class="nav subnav">
                        <li class="<%= active_class item_categories_path %>">
                            <%= link_to 'Kategori Barang', item_categories_path %>
                        </li>
                        <li class="<%= active_class item_units_path %>">
                            <%= link_to 'Satuan Barang', item_units_path %>
                        </li>
                        <li class="<%= active_class religions_path %>">
                            <%= link_to 'Agama', religions_path %>
                        </li>
                        <li class="<%= active_class genders_path %>">
                            <%= link_to 'Gender', genders_path %>
                        </li>
                        <li class="<%= active_class educations_path %>">
                            <%= link_to 'Pendidikan', educations_path %>
                        </li>
                        <li class="<%= active_class positions_path %>">
                            <%= link_to 'Posisi / Jabatan', positions_path %>
                        </li>
                        <li><%= link_to 'Station', stations_path %></li>
                        <li class="<%= active_class departments_path %>">
                            <%= link_to 'Departemen', departments_path %>
                        </li>
                        <li><a href="forms/regular.html">Penyimpanan</a></li>
                        <li><a href="#">Pesawat</a></li>
                        <li><a href="#">Kwitansi</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="forms/regular.html">User</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a data-toggle="collapse" href="#employeeMenu" class="collapsed" aria-expanded="false">
                    <i class="pe-7s-users"></i>
                    <p>Employee
                       <b class="caret"></b>
                    </p>
                  </a>
                  <div class="collapse" id="employeeMenu" aria-expanded="false" style="height: auto;">
                    <ul class="nav subnav">
                        <li class="<%= active_class users_path %>">
                            <%= link_to 'Akun', users_path %>
                        </li>
                        <li class="<%= active_class employees_path %>">
                            <%= link_to "Pegawai", employees_path %>
                        </li>
                    </ul>
                </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#itemMenu" class="collapsed" aria-expanded="false">
                        <i class="pe-7s-box2"></i>
                        <p>Item <b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="itemMenu" aria-expanded="false" style="height: auto;">
                        <ul class="nav subnav">
                            <li class="<%= active_class suppliers_path %>" >
                                <%= link_to 'Supplier', suppliers_path %>
                            </li>
                            <li class="<%= active_class items_path %>" >
                                <%= link_to 'Item', items_path %>
                            </li>
                        
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#purchaseRequest" class="collapsed" aria-expanded="false">
                        <i class="pe-7s-note2"></i>
                        <p>Purchase Request <b class="caret"></b></p>
                    </a>
                    <div class="collapse" id="purchaseRequest" aria-expanded="false" style="height: auto;">
                        <ul class="nav subnav">
                            <li class="<%= active_class new_purchase_request_path %>" >
                                <%= link_to 'Add Request', new_purchase_request_path %>
                            </li>
                            <li class="<%= active_class purchase_requests_path %>" >
                                <%= link_to 'Purchase Request', purchase_requests_path %>
                            </li>
                        
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-ticket"></i>
                        <p>Purchase Order</p>
                    </a>
                </li>
                <li>
                  <a data-toggle="collapse" href="#qualityControl" class="collapsed" aria-expanded="false">
                    <i class="pe-7s-news-paper"></i>
                    <p>Quality Control
                       <b class="caret"></b>
                    </p>
                  </a>
                  <div class="collapse" id="qualityControl" aria-expanded="false" style="height: auto;">
                    <ul class="nav subnav">
                        <li><a href="forms/regular.html">Kategori</a></li>
                        <li><a href="forms/regular.html">Satuan</a></li>
                        <li><a href="forms/regular.html">Penyimpanan</a></li>
                        <li><a href="#">Pesawat</a></li>
                        <li><a href="#">Kwitansi</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="forms/regular.html">User</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-box2"></i>
                        <p>Inventory</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-folder"></i>
                        <p>Report</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>