<%= form_for(department) do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :station_id, "Station", class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:station_id,Station.all,:id,:name,{:prompt => "Pilih Station"}, class:'form-control') %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :name, "Nama Departemen", class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :manager, "Manajer", class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :manager, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-10">
        <%= f.submit "Simpan", :class=>"btn btn-primary", class:"btn btn-fill btn-primary" %>
      </div>
  </fieldset>
<% end %>
