<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Master Flight Type
                <%= link_to 'Tambah Flight Type', new_admin_flight_type_path, :class=>"btn btn-warning btn-fill pull-right" %>
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>Kelas Penerbangan</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @flight_types.each do |flight_type| %>
                    <tr>
                      <td><%= flight_type.name %></td>
                      <td><%= flight_type.try(:flight_class).try(:name) %></td>
                      <td><%= link_to 'Edit', edit_admin_flight_type_path(flight_type) %></td>
                      <td><%= link_to 'Hapus', admin_flight_type_path(flight_type), method: :delete, data: { confirm: 'Yakin hapus data?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>