<%= form_for(item) do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :supplier_id, "Supplier",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:supplier_id,Supplier.all,:id,:name,{:prompt => ""}, class:'form-control') %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :item_category_id, "Kategori barang",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:item_category_id,ItemCategory.all,:id,:name,{:prompt => ""}, class:'form-control') %>
      <div class="col-sm-10">
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :item_unit_id, "Satuan",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:item_unit_id,ItemUnit.all,:id,:name,{:prompt => ""}, class:'form-control') %>
      <div class="col-sm-10">
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :code, "Kode",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :code, class:'form-control' %>
      <div class="col-sm-10">
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :lot_number, "LOT number",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :lot_number, class:'form-control' %>
      <div class="col-sm-10">
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :name, "Nama barang",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class:'form-control' %>
      <div class="col-sm-10">
    </div>
  </fieldset>
  
  <fieldset>
    <div class="form-group">
      <%= f.label :spec, "Spesifikasi",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :spec, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :price, "Harga",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :price, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :desc, "Deskripsi",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :desc, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :halal_certificate, "Sertifikat halal",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.file_field :halal_certificate, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :warranty, "Garansi ?", class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.check_box :warranty %>
        Centang bila ada garansi
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-10">
        <%= f.submit "Simpan", :class=>"btn btn-primary", class:"btn btn-fill btn-primary" %>
      </div>
  </fieldset>
<% end %>
