<%= form_for [:admin, @supplier] do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name, "Nama Suplier",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :address, "Alamat",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :address, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :contact_person, "Contact Person",class:"col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :contact_person, class:'form-control' %>
      </div>
      <%= f.label :phone, "No.telp",class:"col-sm-1 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :phone, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :business_field, "Bidang bisnis",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :business_field, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label :management_system, "Sistem Manajemen",class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :management_system, class:'form-control' %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="col-sm-2">
    </div>
      <div class="col-sm-10">
        <%= f.submit "Simpan", :class=>"btn btn-primary", class:"btn btn-fill btn-primary" %>
      </div>
  </fieldset>
<% end %>
