<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                Master Supplier
                <%= link_to 'Tambah Supplier', new_admin_supplier_path, :class=>"btn btn-warning btn-fill pull-right" %>
                  
                </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th>Nama Suplier</th>
                    <th>Alamat</th>
                    <th>Contact person</th>
                    <th>Bidang bisnis</th>
                    <th>Sistem manajemen</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @suppliers.each do |supplier| %>
                    <tr>
                      <td><%= supplier.name %></td>
                      <td><%= supplier.address %></td>
                      <td><%= supplier.contact_person + " - " + supplier.phone  %></td>
                      <td><%= supplier.business_field %></td>
                      <td><%= supplier.management_system %></td>
                      <td><%= link_to 'Edit', edit_admin_supplier_path(supplier),class:'text-info' %></td>
                      <td><%= link_to 'Hapus', admin_supplier_path(supplier), method: :delete, class:'text-danger', data: { confirm: 'Yakin hapus data?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>