<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Nama Suplier</th>
      <th>Alamat</th>
      <th>Contact person</th>
      <th>Bidang bisnis</th>
      <th>Sistem manajemen</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.contact_person + " - " + supplier.phone  %></td>
        <td><%= supplier.business_field %></td>
        <td><%= supplier.management_system %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Hapus', supplier, method: :delete, data: { confirm: 'Yakin hapus data?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
