<!DOCTYPE html>
<html>
  <head>
    <title>SalmaZeinInflight</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">
      <%= render 'shared/sidebar.html.erb' %>

      <div class="main-panel">
          <%= render 'shared/topnav.html.erb' %>
          <div class="content">
              <div class="container-fluid">
              <%= render 'shared/flash_messages',message: @model  %>
                <%= yield %>
              </div>
          </div>
          <%= render 'shared/footer.html.erb' %>
      </div>
  </div>

  </body>
</html>
